:root{
    --Gray: #333639;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
.container{
    display: flex;
    justify-content:space-between;
    height: 100vh;
}

.container section:nth-of-type(1){
    flex-grow: 1;
}

.container section:nth-of-type(2){
    flex-grow: 10;
}

.container section:nth-of-type(3){
    flex-grow: 0.5;
}

.side-navbar{
    background-color: var(--Gray);
    max-width: 120px;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 38px;
    margin: 31px 0 0 18px;
}

.main{
    background-color: blueviolet;
    border-radius: 43px 0 0 43px ;
    margin: 0 -40px 0 -46px;
    padding: 20px;
}

.nav-icons{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.nav-link{
    margin: 7px 0 7px 0px;
}

.nav-profile{
    display: flex;
    flex-direction: column; 
    padding-left: 25px;
}

.profile-pic{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: -5px;
}

.right-menu{
    background-color: var(--Gray);
    width: 80px;
    position: relative;
    z-index: 10;
    border-radius: 45px 0 0 45px ;
    padding: 27px 0px 0px 8px;
    /* max-height: 100vh; */
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
}

.notification-panel{
    color: aliceblue;
    direction: ltr;
}

.notification-card{
    margin: 5px 0 18px 24px;
    width: 56px
}

.media{
    font-size: 6px;
}

.media-card{
    background-color: darkgrey;
    border-radius: 10px 10px 0 0;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wsp-icon{
    background-color: green;
    position: relative;
    left: -2px;
    top: -3px;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-card{
    background-color: grey;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 42px;
}

.n-name{
    font-size: 10px;
    flex-wrap: wrap;
    max-width: 44px
}

.n-time{
    font-size: 6px;
    opacity: 0.5;
    margin-right: 17px;
}

::-webkit-scrollbar {
    width: 13px;
  }
   
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 2px;
    background-clip: padding-box;
    border-left: 9px var(--Gray) solid;
  }

  ::-webkit-scrollbar-track {
    margin-block: 200px;
 }

section div:nth-of-type(1){
    flex-grow: 0.6;
}

section div:nth-of-type(2){
    flex-grow: 5;
}

section div:nth-of-type(3){
    flex-grow: 0.4;
}

@media(min-width:768px) {
    
}

@media(min-width:1024px) {
    
}